<center>
	<h2>Congrats <% current_user.first_name%> you paid  <%= @event.price %> euros to participate to <strong><%= @event.title%> </strong> !</h2>




<!--------------- Boutons de sortie/redirection -->
<div class = "container fluid d-flex justify-content-around flex-wrap">


	<a class="btn btn-warning"<%= link_to 'Go back to the main page',event_index_path %> <br/> </a> 
	  	
</div>

</center>






