<h2>Thanks, you paid <strong> 4488545 euros </strong>!</h2>

<div class = "container fluid d-flex justify-content-around flex-wrap">
<!-- Boutons de sortie/redirection -->


			<a class="btn btn-warning"<%= link_to 'Go back to the main page',event_index_path %> <br/> </a> 
	  	
</div>





